<!doctype html>
<html>
    <head>
        <title>Reddit-Recommender</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="static/css/main.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
    </head>

    <body>
      <div class="text-center">
        <img src="static/images/recommenderv1.png" style="width:800px;">
      </div>

      <div class="jumbotron">
        <div class="container">
          <p>Your recommendations.</p>
          <p>In the following you can see your subscriptions based on your social media account(s) and based on your reddit subscriptions, depending on what you've choosen initially.</p>
        </div>
      </div>

      <div class="container">
        <h1>By your social media:</h1>
        <table class="table">
          <thead>
            <tr>
              {% for col in cols %}
                <th>{{ col }}</th>
                  {% endfor %}
                </tr>
            </thead>
            <tbody>
              {% for row in rows_social %}
                <tr>
                  {% for col in cols %}
                    <td>{{ row[col] }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>

      <div class="container">
        <h1>By subreddits:</h1>
        <table class="table">
          <thead>
            <tr>
              {% for col in cols %}
                <th>{{ col }}</th>
                  {% endfor %}
                </tr>
            </thead>
            <tbody>
              {% for row in rows_subs %}
                <tr>
                  {% for col in cols %}
                    <td>{{ row[col] }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div> 
      <script src="static/js/vendor/jquery-3.3.1.js"></script>
      <script>
      </script>
    </body>
</html>
