<!doctype html>
<html>
    <head>
        <title>Reddit-Recommender</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="static/css/main.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
    </head>

    <body>
      <div class="text-center">
        <img src="static/images/recommenderv1.png" style="width:800px;">
      </div>

      <div class="jumbotron">
        <div class="container">
          <p>Rediscover Reddit. With less than 5 clicks.</p>
          <p>Reddit-recommender uses your public posts, likes and some more data from Facebook and Twitter to show you new subreddits you might like. You can also provide us with your existing Reddit Account to find new subs similar to the ones you're already subscribed to!</p>
        </div>
      </div>

      <div class="container">
        <form id="form-rec">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="twitter-check">
            <label class="form-check-label" for="twitter-check">
              Twitter
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fb-check">
            <label class="form-check-label" for="fb-check">
              Facebook
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="reddit-check">
            <label class="form-check-label" for="reddit-check">
              Reddit subscriptions
            </label>
          </div>
          <div class="form-group">
            <label>Your recommender username</label>
            <input type="text" class="form-control" id="rec-username" style="width:400px;">
          </div>
          <button type="submit" id="form-rec-button" class="btn btn-primary" style="font-size:26px; margin-top:35px;">
            Continue
          </button>
        </form>
      </div> 
      <script src="static/js/vendor/jquery-3.3.1.js"></script>
      <script>
        $(function(){
          $('#form-rec').submit(function(e) {
              e.preventDefault(); // don't submit form
              var uname = $('#form-rec').find('input[id="rec-username"]').val();
              var twitter = false;
              var fb = false;
              var reddit = false;

              if ($('#twitter-check').is(':checked')){
                twitter = "y";
              }
              else{
                twitter = "f";
              }

              if ($('#fb-check').is(':checked')){
                fb = "y";
              }
              else{
                fb = "n";
              }

              if ($('#reddit-check').is(':checked')){
                reddit = "y";
              }
              else{
                reddit = "n";
              }

              window.location.replace(
                'http://localhost:5000/store-initial?t=' + twitter + '&f=' + fb + '&r=' + reddit + '&name=' + uname);
          });
        });
      </script>
    </body>
</html>
