<!doctype html>
<html>
    <head>
        <title>Reddit-Recommender</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="static/css/main.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
    </head>

    <body>
      <div class="jumbotron">
        <div class="container">
          <h1>Twitter</h1>
          <p>Just enter your twitter username. No passwords necessary!</p>
        </div>
      </div>

      <div class="container">
        <form id="form-twitter">
          <div class="form-group">
            <label>Twitter username</label>
            <input type="text" class="form-control" id="twitter-username" style="width:400px;" required>
          </div>
          <button type="submit" id="form-twitter-button" class="btn btn-primary" style="font-size:32px; margin-top:50px;">
            Continue
          </button>
        </form>
      </div> 
    </body>
    <script src="static/js/vendor/jquery-3.3.1.js"></script>
    <script>
      $(function(){
        $('#form-twitter').submit(function(e) {
            e.preventDefault(); // don't submit form
            var username = $('#form-twitter').find('input[id="twitter-username"]').val();

            window.location.replace(
              "http://localhost:5000/redirect-twitter?twittername=" + username);
        });
      });
    </script>
</html>
